{% extends 'base.html.twig' %}

{% block body %}
    <h1>Llistat de cotxes</h1>

    {% for car in cars %}
        {# Metemos todo dentro del atributo class #}
        <p class="car-name {% if car.name == 'Toyota' %}important car-special{% endif %}">
            {{ car.name }}
        </p>
    {% endfor %}
{% endblock %}
